@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes border-glow {
  0% {
    box-shadow:
      0 0 0 2px rgba(255, 255, 255, 0.5),
      0 0 0 4px rgba(0, 0, 0, 0.5);
  }
  50% {
    box-shadow:
      0 0 0 4px rgba(255, 255, 255, 0.5),
      0 0 0 2px rgba(0, 0, 0, 0.5);
  }
  100% {
    box-shadow:
      0 0 0 2px rgba(255, 255, 255, 0.5),
      0 0 0 4px rgba(0, 0, 0, 0.5);
  }
}

.animate-border-glow {
  animation: border-glow 2s infinite;
}
